<!-- <p>
	<b>Commenter:</b>
	<%= comment.commenter %>
</p> -->

<p>
  <%= User.find(comment.user_id).username %>
</p>

<p>
	<%= comment.body %>
</p>

<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Удалить', [comment.post, comment],
               :confirm => 'Уверены?',
               :method => :delete %>
</p>
<% end %>
