<p>ID <%= @user.id %></p>
<p>Email <%= @user.email %></p>
<p>Username <%= @user.username %></p>

<% if user_signed_in? && @user.id == current_user.id %>
	<p><%= link_to 'Редактировать', edit_user_registration_path %></p>
<% end %>
