@media screen and (max-width: 1000px){
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 12px;
  }
  .lighthouse{
    width: 100%;
    float: none;
    background-image: url(images/lighthouse_mobile.svg);
  }
  .main_show>h1, .main_show>h2{
    width: 80%;
  }
  .main_show>button{
    width: 90%;
    margin-right: 0%;
  }
  .main_text{
    float: none;
  }
.m_p_m{
  display: none;
}
.logo_fon{
  top: 22%;
  width: 13%;
  height: 53%;
}
.s_burger{
  background-image: url(images/S_burger.svg);
    width: 8%;
    height: 22%;
    background-size: cover;
    float: right;
    margin-top: 10%;
}
.map-info{
  background-image: url(images/background-map-info-mobile.svg);
  padding-bottom: 84%;
}
.map-info>h1 {
    width: 100%;
    margin-top: 10.5%;
}
.map-info>h2 {
    width: 70%;
}
.map-info-text {
    margin-left: 4%;
}
.forum-info>h2 {
    width: 62%;
    margin-top: 38%;
}
.forum-info>h1 {
    width: 90%;
}
.forum-info{
    padding-bottom: 21.5%;
}
.monster1>h2 {
    width: 64%;
}
.faq{
  padding-bottom: 0%;
}
.monster1{
  margin-top: 38%;
}
.monster2>h2{
  width: 80%;
}
.monster2{
  margin-top: 16%;
  margin-left: 34%;
}
.monster3{
  margin-top: 26%;
}
.icon, .icon_text{
  display: none;
}
.compas>button{
  width: 90%;
  padding-bottom: 0%;
  background-image: none;
}
.compas{
  margin-top: 20%;
}
.icon_all{
  display: none;
}
.table>img{
  display: none;
}
}
