// Place all the styles related to the Ports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.content{
  padding-top: 100px;
}
#map-container {
  height: 100%;
  width: calc(90vw);
}
#map-canvas {
  height: 800px;
  width: 100%;
}
