// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// *= require_self
h2{

}
.subscriber_footer{
  float: right;
  text-align: right;
}
.subscriber_footer >h2{
  font-family: Proxima-Nova-Bold;
}
.input_footer{
  font-family: Proxima-Nova-Regular;
  font-size: 14pt;
  background: none;
  border: none;
  border-bottom: 1px solid #11404F;
  margin-bottom: 15px;
  width: 380px;
}
